<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小呀小仙女</title>
    <script src="//www.ziqiangxuetang.com/try/angularjs/1.2.5/angular.min.js"></script>
    <script src="http://apps.bdimg.com/libs/angular.js/1.2.5/angular.min.js"></script>
</head>
<body>
    <div ng-app="" ng-init="xiannv='小郭'">
        <p>小仙女叫什么名字呀?<input type="text" ng-model="xiannv"></p>
        <p ng-bind="xiannv"></p>
    </div>


    <!--<div ng-app="" ng-init="person={firstName:'John',lastName:'Doe'}">-->
        <!--<p>-->
            <!--<span ng-bind="person.lastName"></span>-->
        <!--</p>-->
        <!--<p>我的第一个表达式 : {{ 5 + 5 }}</p>-->
        <!--<p>原来还有这操作: {{ "5"+"2"+"0" }}</p>-->
    <!--</div>-->


<!--<div ng-app="" ng-controller="personController">-->

<!--名： <input type="text" ng-model="person.firstName"><br>-->
<!--姓： <input type="text" ng-model="person.lastName"><br>-->
<!--<br>-->
<!--姓名： {{person.firstName + " " + person.lastName}}-->

<!--</div>-->
<!--<script>-->
<!--function personController($scope) {-->
    <!--$scope.person = {-->
        <!--firstName: "John",-->
        <!--lastName: "Doe"-->
    <!--};-->
<!--}-->
<!--</script>-->

</body>
    <!--<script src="www.ziqiangxuetang.com/try/angularjs/1.2.5/angular.min.js"></script>-->
    <script src="http://apps.bdimg.com/libs/angular.js/1.2.5/angular.min.js"></script>
</html>